<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://wwww.santiagocardona.dev">Santiago Cardona</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
